@page "/categorys"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.WebUtilities
@using Common.Paginations.Models
@using DataTransferObjects.Categorys
@using Services.Categorys
@inject ICategorysService CategoryService

<h3>Category List</h3>

<NavLink class="btn btn-primary mb-3" href="/categorys/create">Create New</NavLink>

@if (Categorys == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>ParentCategoryId</th>
                <th>ParentCategory</th>


                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Categorys)
            {
                <tr>
                    <td>@item.Id</td>
                    @if(@item.Name is not null)
                    {
                        <td>@item.Name</td>
                    }
                    else
                    {
                        <td>None</td>
                    }
                    @if(@item.ParentCategoryId is not null)
                    {                    
                        <td>@item.ParentCategoryId</td>
                    }
                    else
                    {
                        <td>None</td>
                    }
                    @if(@item.ParentCategoryId is not null)
                    {
                        <td><a href="/Categorys/@item.ParentCategoryId">link</a></td>
                    }
                    else
                    {
                        <td>None</td>
                    }


                    <td>@item.Id</td>
                    <td>
                        <NavLink class="btn btn-sm btn-info" href="@($"/categorys/{item.Id}")">Details</NavLink>
                        <button class="btn btn-sm btn-danger" @onclick="() => DeleteCategory(item.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
<Pagination PaginationMetadata="@PaginationMetadata" PageName="Categorys"></Pagination>
}

@code {
    private List<CategoryViewModel> Categorys { get; set; }
    private PaginationOptions PaginationOptions { get; set; }
    private PaginationMetadata PaginationMetadata { get; set; }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
        ReadQueryAndLoadData();
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        ReadQueryAndLoadData();
    }

    private void ReadQueryAndLoadData()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);
        PaginationOptions = new PaginationOptions(5, 1);

        if (query.TryGetValue("page", out var pageStr) && int.TryParse(pageStr, out var page))
            PaginationOptions.PageToken = page;

        if (query.TryGetValue("size", out var sizeStr) && int.TryParse(sizeStr, out var size))
            PaginationOptions.PageSize = size;

        _ = LoadAsync();
    }

    async Task LoadAsync()
    {
        var filteredData = await CategoryService.FilterAsync(PaginationOptions);
        Categorys = filteredData.Items;
        PaginationMetadata = filteredData.Pagination;
        await InvokeAsync(StateHasChanged);
    }

    async Task DeleteCategory(int id)
    {
        await CategoryService.DeleteAsync(id);
        var filteredData = await CategoryService.FilterAsync(PaginationOptions);
        Categorys = filteredData.Items;
        PaginationMetadata = filteredData.Pagination;
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
